/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Docker volume
/docker/mysql/dbdata/

# Dummy files
**/dummy*
**/Dummy*

# Editor files
/.vscode
/.devcontainer
*.rest

# Swagger file
/storage/api-docs/api-docs.json